<div class="container">
    <div class="map-container">
        <app-google-map (mapClick)="mapClick($event)" [itemLocation]="location"></app-google-map>
    </div>

    <div md-dialog-actions>
        <button md-button color="warn" (click)="dialogRef.close()">Cancel</button>
        <span fxFlex></span>
        <button md-raised-button color="primary" (click)="onsubmit()">OK</button>
    </div>
</div>