.container {
  @media(max-width: 600px) {
        width: 100%;
    }
    @media(max-width: 900px) and (min-width: 600px) {
        min-width: 480px;
    }
    @media(min-width: 900px) {
        min-width: 600px;
    }
    @media(min-width: 1070px) {
        min-width: 800px;
    }
}

.map-container {
  height: 500px;
  width: 100%;
}
