<div class="page" fxFlex fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
    <div class="input-container" [ngClass]="{hide: hasImage}">
        <input type="file" class="hide" #fileElem accept="image/*" (change)="handleFiles($event)">
        <button (click)="handleClick()" md-raised-button color="primary">Select your image</button>
    </div>
    <div class="preview-container" [ngClass]="{hide: !hasImage}" fxLayout="row" fxLayoutAlign="center center">
        <img #preview>
        <div class="overlay" fxFlex fxLayout="row" fxLayoutAlign="end end">
            <button md-icon-button color="warn" (click)="removeSelected()"><md-icon class="icon">delete</md-icon></button>
        </div>
    </div>
</div>