.page {
    width: 100%;
    height: 300px;
}

.hide {
    display: none !important;
}

.preview-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;

    img {
        max-height: 300px;
        max-width: 400px;
        margin: auto;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
