@import "~theme.scss";

:host, .no-trips-container {
    min-height: 100%;
}

.page {
    padding: 10px;
    min-height: 100%;
    width: 100%;
}

.item {
    margin: 10px 0; 

    max-width: 600px;
    width: 100%;
}

.label {
    margin-top: 10px;
    color: $accent-color-dark;
}

.content-card {    
    width: 100%;
}

.fab-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.no-trips-container {
    button {
        width: 120px;
        margin: 10px;
    }
}

.message {
    color: $primary-color-default;
    margin-bottom: 30px;

    span {
        margin: 5px;
    }
}
