<div class="page" fxFlex fxLayout="column" fxLayoutAlign="start center">
    <div *ngIf="trip.content && trip.content.length; then withContent else noContent"></div>
</div>

<ng-template #withContent>
    <div *ngFor="let item of trip.content | contentsort; let i = index" [ngSwitch]="item.type" class="item" fxLayoutAlign="start center">
        <app-content-card [content]="item" class="content-card" *ngSwitchDefault (onEdit)="editItem(i, item, $event)" (onDelete)="deleteItem(i, item)"></app-content-card>
        <div *ngSwitchCase="contentType.LABEL_DATE" class="label">
            {{item.creationDate | date:'yMMMd'}}
        </div>
    </div>

    <smd-fab-speed-dial class="fab-button">
        <smd-fab-trigger>
            <button md-fab><md-icon>add</md-icon></button>
        </smd-fab-trigger>

        <smd-fab-actions>
            <button md-mini-fab (click)="addNote()" mdTooltip="Add note" mdTooltipPosition="before"><md-icon>note_add</md-icon></button>
            <button md-mini-fab (click)="addImage()" mdTooltip="Add image" mdTooltipPosition="before"><md-icon>add_a_photo</md-icon></button>
        </smd-fab-actions>
    </smd-fab-speed-dial>
</ng-template>

<ng-template #noContent>
    <div fxLayout="column" fxLayoutAlign="center center" class="no-trips-container">
        <div class="message" fxLayout="column" fxLayoutAlign="center center">
            <span>You don't have anything added to this trip.</span>
            <span>You can start boxing up moments of this trip by clicking on one of the buttons bellow.</span>
        </div>
        <div fxLayout="row">
            <button md-raised-button color="accent" (click)="addImage()">
            Add an image
        </button>
            <button md-raised-button color="accent" (click)="addNote()">
            Add a note
        </button>
        </div>
    </div>
</ng-template>