<md-toolbar color="primary">
  <div class="app-name" (click)="onAction(Actions.NavigateHome)" fxFlex fxLayout="row" fxLayoutAlign="start center">
    <img src="/assets/img/big_logo.png" />
    <span fxShow.xs="false">Box o' Trips</span>
  </div>
  <span fxFlex></span>
  <div class="username" fxFlex fxLayout="row" fxLayoutAlign="end">
    <button md-button [mdMenuTriggerFor]="menu" class="username-text" fxShow.xs="false">
      <md-icon>account_circle</md-icon>
      <span>{{user.username}}</span>
    </button>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="username-icon" fxHide.gt-xs="true">
      <md-icon>more_vert</md-icon>
    </button>
  </div>
</md-toolbar>

<md-menu #menu="mdMenu" class="menu">
  <div md-menu-item fxLayout="row" fxLayoutAlign="center center" fxShow.gt-xs="false">
    <md-icon>account_circle</md-icon>
    <span>{{user.username}}</span>
  </div>
  <button md-menu-item (click)="onAction(Actions.Logout)">
    <md-icon>exit_to_app</md-icon>
    <span>Logout</span>
  </button>
</md-menu>