<div class="overlay" fxFlex fxLayout="row" fxLayoutAlign="space-around start">
    <button md-icon-button color="warn" (click)="onDeleteHandler()"><md-icon class="icon">delete</md-icon></button>
    <button md-icon-button color="warn" (click)="onEditHandler()"><md-icon class="icon">mode_edit</md-icon></button>
    <button md-icon-button color="warn" (click)="onCancelHandler()"><md-icon class="icon">clear</md-icon></button>
</div>
