.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(256, 256, 256, 0.75);
    z-index: 100;
    padding-top: 10px;
}

button {
    width: 64px;
    height: 64px;
    line-height: 64px;
}

md-icon.icon {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    width: 36px;
}
