<div class="page" fxFlex fxLayout="column">
    <div *ngIf="list && list.length; then withTrips else noTrips"></div>
</div>

<ng-template #withTrips>
    <div fxLayout="row" fxFlex class="title-line">
        <span fxFlex fxLayoutAlign="start center" class="title">
            My trips
        </span>
        <div fxFlex></div>
        <button md-button color="accent" fxFlex class="large-new-button" (click)="create()" fxHide.xs="true">
            Start new trip
        </button>
    </div>
    <div class="content" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap.gt-xs="wrap" fxLayoutWrap.xs="nowrap">
        <md-card *ngFor="let trip of list" class="item" fxFlex fxLayout="column" fxLayoutAlign="start space-between" (click)="open(trip)"
            md-ripple mdRippleColor="rgba(255,110,64,0.2)">
            <div fxFlex="20" class="name" fxLayout="row" fxLayoutAlign="center">
                {{trip.name}}
            </div>
            <div fxFlex="60" class="description" fxLayout="row" fxLayoutAlign="center center">
                {{trip.description}}
            </div>
            <div fxFlex="20" class="date" fxLayout="row" fxLayoutAlign="end end">
                {{trip.creationDate | date:'yMMMd'}}
            </div>
        </md-card>
    </div>
    <button md-fab class="fab-new-button" (click)="create()" fxHide.gt-xs="true">
        <md-icon>add</md-icon>
    </button>
</ng-template>

<ng-template #noTrips>
    <div fxLayout="column" fxLayoutAlign="center center" class="no-trips-container">
        <div class="message" fxLayout="column" fxLayoutAlign="center center">
            <span>Hello there!</span>
            <span>It seems you don't have any trips yet.</span>
            <span>But if you want to start boxing up your trips best moments, you can go right ahead.</span>
        </div>
        <button md-raised-button color="accent" (click)="create()">
            Start your first trip
        </button>
    </div>
</ng-template>