@import "~theme.scss";

:host, .no-trips-container {
    min-height: 100%;
}

.message {
    color: $primary-color-default;
    margin-bottom: 30px;

    span {
        margin: 5px;
    }
}

.page {
    padding: 10px;
    min-height: 100%;
    overflow-y: auto;

    .title-line {
        max-height: 36px;
        min-height: 36px;

        .large-new-button {
            max-width: 180px;
        }

        .title {
            font-size: 18px;
            padding-left: 10px;
            font-weight: bold;
            color: $primary-color-dark;
        }
    }

    .fab-new-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .content {

        .item {
            height: 200px;
            min-height: 200px;
            margin: 10px;
            padding: 0;
            cursor: pointer;

            button {
                width: 100%;
                height: 100%;
                padding: 0;
            }

            .name {
                color: $primary-color-default;
                font-size: 20px;
                font-weight: bold;
                margin-top: 40px;
            }

            .description {
                color: $primary-color-dark;
                padding: 0 10px;
            }

            .date {
                padding: 5px;
                font-size: 12px;
                color: $primary-color-dark;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .page .content .item {
        max-width: 400px;
        min-width: 250px;
    }
}