@import '../../theme.scss';

.page {
    display: flex;
    flex-flow: column;
    flex-direction: center;
    justify-content: start;
    align-items: center;
    height: 100%;
    min-height: 100%;
    padding-top: 20px;
    background-color: $primary-color-light;
    padding-bottom: 30px;
}

.login-card {
    max-width: 350px;
    width: 350px;
    padding: 24px 12px 12px 12px;

    &.signup {
        margin-top: 0;
    }

    form, md-card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-input-container {
        max-width: 300px;
        width: 300px;
        margin-bottom: 30px;
    }

    .form-actions {
        display: flex;
        flex-flow: row;
        width: 100%;

        md-checkbox {
            line-height: 36px;
        }

        .empty {
            display: flex;
            flex: 1 auto;
        }
    }
}

.error {
    color: $warn-color;
    border-color: $warn-color;
}

.error-message {
    max-width: 300px;
    text-align: center;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: $accent-color-default;

    &:visited {
        color: $accent-color-default;
    }

    &:hover, &:active {
        color: $accent-color-dark;
    }
}

.logo-container {
    height: 100px;
    width: 300px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    img {
        height: 80px;
        width: 80px;
    }
}

.bottom-action {
    margin-top: 20px;
}

.form-row {
    display: flex;
    flex-flow: row;

    md-icon {
        line-height: 51px;
        margin-right: 10px;
    }
}