<div class="page">
    <div md-dialog-title class="form-row primary-color">
        <md-input-container>
            <input mdInput placeholder="Title" type="text" name="title" class="form-input" [(ngModel)]="content.title">
        </md-input-container>
    </div>
    <app-date-location-picker [content]="content"></app-date-location-picker>

    <div [ngSwitch]="content.type">
        <app-content-image-upload [content]="content" *ngSwitchCase="contentType.IMAGE"></app-content-image-upload>
        <app-content-note-input [note]="content" *ngSwitchDefault></app-content-note-input>
    </div>
    
    <div md-dialog-actions>
        <button md-button color="warn" (click)="dialogRef.close()">Cancel</button>
        <span fxFlex></span>
        <button md-raised-button color="primary" (click)="onsubmit()">{{isNew ? 'Add' : 'Save'}}</button>
    </div>
</div>