<div fxLayout="row" fxLayoutAlign="center" *ngIf="trip">
    <md-card fxHide.xs="true" class="properties-container">
        <app-trip-properties [trip]="trip" (onSubmit)="update($event)" (delete)="delete()"></app-trip-properties>
    </md-card>
    <div fxHide.gt-xs="true" class="properties-container">
        <app-trip-properties [trip]="trip" (onSubmit)="update($event)" (delete)="delete()"></app-trip-properties>
    </div>
</div>