@import "~theme.scss";

.main-container {
    width: 100%;

    form {
        width: 100%;
    }

    .title {
        font-size: 16px;
        color: $primary-color-dark;
        margin-bottom: 20px;
    }

    .form-row {
        max-width: 350px;
        width: 100%;
        margin-bottom: 20px;
        color: $primary-color-default;

        .error {
            color: $warn-color;
            border-color: $warn-color;
        }

        .error-message {
            max-width: 300px;
            text-align: center;
            margin-bottom: 10px;
        }

        md-input-container {
            width: 100%;
        }

        .form-input {
            max-width: 350px;
            width: 100%;
        }
    }
}
