<div class="main-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="title">
        This is the beginnig of a new adventure...
    </div>
    <form [formGroup]="tripForm" novalidate (ngSubmit)="onsubmit(tripForm.value, tripForm.valid)" fxLayout="column" fxLayoutAlign="start center">
        <div class="form-row" fxLayoutAlign="center">
            <md-input-container [dividerColor]="isControlInError(tripForm.controls.name) ? 'warn' : ''">
                <input mdInput placeholder="Name" type="text" formControlName="name" name="name" required class="form-input">
                <md-hint *ngIf="isControlInError(tripForm.controls.name)" [ngClass]="{error: isControlInError(tripForm.controls.name)}">
                    <span *ngIf="tripForm.controls.name.errors.required">Your new adventure requires a name</span>
                </md-hint>
            </md-input-container>
        </div>
        <div class="form-row" fxLayoutAlign="center">
            <md-input-container>
                <textarea mdInput placeholder="Description" formControlName="description" name="description" class="form-input">
                    </textarea>
            </md-input-container>
        </div>
        <div class="form-row" fxLayoutAlign="space-between center">
            <button md-button type="button" color="warn" (click)="oncancel()">Cancel</button>
            <span fxFlex></span>
            <button md-raised-button color="primary" type="submit">Start</button>
        </div>
    </form>
</div>
