<div md-dialog-subtitle fxFlex fxLayoutAlign="start center" class="form-row">
    <button md-button type="button" (click)="openLocationDialog()">
        <md-icon class="location-icon" color="warn">edit_location</md-icon>
        {{content?.location | location:'selector'}}
    </button>
</div>
<md2-datepicker [isOpen]="isDateTimePickerOpen" [type]="dateTimePickerType" container="dialog" [(ngModel)]="content.creationDate"
    [ngModelOptions]="{standalone: true}"></md2-datepicker>
<div md-dialog-subtitle fxFlex fxLayoutAlign="start center" class="form-row">
    <button md-button type="button" (click)="openDatePicker()">{{content.creationDate | date}}</button>
    <span fxFlex></span>
    <button md-button type="button" (click)="openTimePicker()">{{content.creationDate | date:'jm'}}</button>
</div>