@import "~theme.scss";

form {
    @media(max-width: 600px) {
        width: 100%;
    }
    @media(max-width: 900px) and (min-width: 600px) {
        min-width: 480px;
    }
    @media(min-width: 900px) {
        min-width: 600px;
    }
}

.primary-color {
    color: $primary-color-default;
}

.form-row {
    width: 100%;
    margin-bottom: 20px;

    .error {
        color: $warn-color;
        border-color: $warn-color;
    }

    .error-message {
        max-width: 600px;
        text-align: center;
        margin-bottom: 10px;
    }

    md-input-container {
        width: 100%;
    }

    .form-input {
        width: 100%;
    }
}

md2-datepicker {
    display: none;
}

.location-icon {
    line-height: 20px;
    width: 20px;
    height: 20px;
}