<md-card [ngSwitch]="content.type">
    <md-card-title>{{content.title}}</md-card-title>
    <md-card-subtitle class="subtitle">
        <div fxFlex fxLayout="row" fxLayouAlign="start center">
        <md-icon class="location-icon" color="{{content?.location ? 'warn': ''}}">edit_location</md-icon>
        <span>{{content?.location | location}}</span>
        <span fxFlex></span>
        <span>{{content.creationDate | date:'jm'}}</span>
        </div>
    </md-card-subtitle>

    <app-content-image [content]="content" *ngSwitchCase="contentType.IMAGE"></app-content-image>
    <app-content-note [note]="content" *ngSwitchDefault></app-content-note>

    <button md-icon-button class="edit" (click)="editMode=true" color="primary"><md-icon>more_vert</md-icon></button>
    <app-item-content-edit-overlay *ngIf="editMode" (onEdit)="edit()" (onCancel)="editMode=false" (onDelete)="delete()"></app-item-content-edit-overlay>

</md-card>