<md-input-container class="search-container">
    <input mdInput placeholder="Search" name="search" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" #search
        [formControl]="searchControl" class="search">
</md-input-container>
<div id="map" #map></div>