<div md-dialog-content class="form-row">
    <md-input-container>
        <textarea mdTextareaAutosize mdInput placeholder="Add something memorable..." name="content" class="form-input" minRows="5" [(ngModel)]="note.content"></textarea>
    </md-input-container>
</div>