<div class="page">
    <div class="logo-container">
        <img src="/assets/img/big_logo.png" />
    </div>
    <md-card class="login-card">
        <md-card-content>
            <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value, loginForm.valid)" class="login-form">
                <div class="form-row">
                    <md-icon>mail_outline</md-icon>
                    <md-input-container class="login-input-container" [dividerColor]="isControlInError(loginForm.controls.email) ? 'warn' : ''">
                        <input mdInput placeholder="Email" type="email" formControlName="email" name="email">
                        <md-hint *ngIf="isControlInError(loginForm.controls.email)" [ngClass]="{error: isControlInError(loginForm.controls.email)}">
                            <span *ngIf="loginForm.controls.email.errors.required">Your email is required</span>
                            <span *ngIf="loginForm.controls.email.errors.incorrectEmailFormat">The email you provided is not valid</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="form-row">
                    <md-icon>lock_outline</md-icon>
                <md-input-container class="login-input-container" [dividerColor]="isControlInError(loginForm.controls.password) ? 'warn' : ''">
                    <input mdInput placeholder="Password" type="password" formControlName="password" name="password">
                    <md-hint *ngIf="isControlInError(loginForm.controls.password)" [ngClass]="{error: isControlInError(loginForm.controls.password)}">
                        Your password is required
                    </md-hint>
                </md-input-container>
                </div>
                <div class="form-actions">
                    <md-checkbox formControlName="keepLogin" name="keepLogin" class="unselectable">Remember me</md-checkbox>
                    <span class="empty"></span>
                    <button md-raised-button color="primary" type="submit" id="loginSubmit">Login</button>
                </div>
            </form>
            <br />
            <div *ngIf="loginFailed" class="error-message error">
                <span>
                    Login failed.
                    <br />
                    Please check your username and password.
                </span>
            </div>
        </md-card-content>
    </md-card>
    <div class="bottom-action">
        <span>
            Don't have an account yet? <a routerLink="/login/new" class="link">Sign up!</a>
        </span>
    </div>
</div>