@import "~theme.scss";

:host {
    min-height: 100%;
}

.page {
    padding: 10px;
    min-height: 100%;

    .loader-container {
        width: 100%;
        height: 100%;
    }

    .title-line {
        max-height: 36px;
        min-height: 36px;
        height: 36px;
        margin-bottom: 10px;

        .large-delete-button {
            max-width: 80px;
        }

        .title {
            font-size: 18px;
            padding-left: 10px;
            font-weight: bold;
            color: $primary-color-dark;
            text-decoration: none;
        }
    }
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}