<md-progress-bar mode="indeterminate" color="accent" *ngIf="loading || pending"></md-progress-bar>
<div class="page" fxFlex fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="title-line" *ngIf="!loading">
        <a class="title" routerLink="/">My trips</a>
        <span class="title">&nbsp;>&nbsp;</span>
        <a class="title" [routerLink]="['/trips/edit', trip.id]">{{trip.name}}</a>
        <span fxFlex></span>
        <a md-icon-button color="primary" routerLink="properties" routerLinkActive="hide">
            <md-icon>mode_edit</md-icon>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>