<div class="page">
    <div class="logo-container">
        <img src="/assets/img/big_logo.png" />
    </div>
    <md-card class="login-card signup">
        <md-card-content>
            <form [formGroup]="signUpForm" novalidate (ngSubmit)="signUp(signUpForm.value, signUpForm.valid)" class="login-form">
                <div class="form-row">
                    <md-icon>perm_identity</md-icon>
                    <md-input-container class="login-input-container" [dividerColor]="isControlInError(signUpForm.controls.name) ? 'warn' : ''">
                        <input mdInput placeholder="Name" type="text" formControlName="name">
                        <md-hint *ngIf="isControlInError(signUpForm.controls.name)" [ngClass]="{error: isControlInError(signUpForm.controls.name)}">
                            <span *ngIf="signUpForm.controls.name.errors.required">Your name is required</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="form-row">
                    <md-icon>mail_outline</md-icon>
                    <md-input-container class="login-input-container" [dividerColor]="isControlInError(signUpForm.controls.email) ? 'warn' : ''">
                        <input mdInput placeholder="Email" type="email" formControlName="email">
                        <md-hint *ngIf="isControlInError(signUpForm.controls.email)" [ngClass]="{error: isControlInError(signUpForm.controls.email)}">
                            <span *ngIf="signUpForm.controls.email.errors.required">Your email is required</span>
                            <span *ngIf="signUpForm.controls.email.errors.incorrectEmailFormat">The email you provided is not valid</span>
                            <span *ngIf="signUpForm.controls.email.errors.uniqueness">An account with this email already exists</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="form-row">
                    <md-icon>lock_outline</md-icon>
                    <md-input-container class="login-input-container" [dividerColor]="isControlInError(signUpForm.controls.password) ? 'warn' : ''">
                        <input mdInput placeholder="Password" type="password" formControlName="password">
                        <md-hint *ngIf="isControlInError(signUpForm.controls.password)" [ngClass]="{error: isControlInError(signUpForm.controls.password)}">
                            <span *ngIf="signUpForm.controls.password.errors.required">You must enter a password</span>
                            <span *ngIf="signUpForm.controls.password.errors.valid">Your password is invalid</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="form-row">
                    <md-icon>lock_outline</md-icon>
                    <md-input-container class="login-input-container" [dividerColor]="isControlInError(signUpForm.controls.confirmPassword) ? 'warn' : ''">
                        <input mdInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
                        <md-hint *ngIf="isControlInError(signUpForm.controls.confirmPassword)" [ngClass]="{error: isControlInError(signUpForm.controls.confirmPassword)}">
                            <span *ngIf="signUpForm.controls.confirmPassword.errors.validateEqual">The specified passwords do not match</span>
                            <span *ngIf="signUpForm.controls.confirmPassword.errors.required">You must confirm your password</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <div class="form-actions">
                    <span class="empty"></span>
                    <button md-raised-button color="primary" type="submit">Sign up</button>
                </div>
            </form>
            <br />
        </md-card-content>
    </md-card>
    <div class="bottom-action">
        <span>
            Already have an account? <a routerLink="/login" class="link">Log in!</a>
        </span>
    </div>
</div>