<div class="page" fxFlex fxLayout="column" fxLayoutAlign="start center">
    <md-card fxHide.xs="true" class="properties-container">
        <app-trip-create (onSubmit)="add($event)" (onCancel)="cancel()"></app-trip-create>
    </md-card>
    <div fxHide.gt-xs="true" class="properties-container">
        <app-trip-create (onSubmit)="add($event)" (onCancel)="cancel()"></app-trip-create>
    </div>
</div>
