/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

@include mat-core();
$trip-app-theme: mat-light-theme($trip-app-primary, $trip-app-accent, $trip-app-warn);
@include angular-material-theme($trip-app-theme);

html, body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@import './assets/global-styles/bad.scss';
@import './assets/global-styles/loader.scss';
