@import '~@angular/material/theming';

$trip-app-primary: mat-palette($mat-cyan, 500, 100, 700);
$trip-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
$trip-app-warn:    mat-palette($mat-red);

$warn-color: mat-color($trip-app-warn);

$primary-color-default: mat-color($trip-app-primary, default);
$primary-color-light: mat-color($trip-app-primary, lighter);
$primary-color-dark: mat-color($trip-app-primary, darker);

$primary-color-default-contrast: mat-contrast($trip-app-primary, 500);
$primary-color-light-contrast: mat-contrast($trip-app-primary, 100);
$primary-color-dark-contrast: mat-contrast($trip-app-primary, 700);

$accent-color-default: mat-color($trip-app-accent, default);
$accent-color-light: mat-color($trip-app-accent, lighter);
$accent-color-dark: mat-color($trip-app-accent, darker);

$accent-color-default-contrast: mat-contrast($trip-app-accent, 500);
$primary-color-default-contrast: mat-contrast($trip-app-primary, 500);