.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mat-dialog-container {
    @media(max-width: 600px) {
        max-width: 100% !important;
        width: 100% !important;
    }    
}

.md2-datepicker-header, .md2-calendar-day.selected, .md2-calendar-day.selected:hover {
    background: $primary-color-default !important;
}

.md2-calendar-day.selected, .md2-calendar-day.selected.today, .md2-calendar-day.selected:hover {
    color: $primary-color-default-contrast !important;
}

.md2-button, .md2-calendar-day.today {
    color: $primary-color-default !important;
}